<?xml version="1.0" encoding="utf-8"?>
<Window bktrans="true" size="120,60">
 <Font name="宋体" size="13" bold="false"/>
 <Font name="宋体" size="12"/>
<VerticalLayout bkimage="file='menu_bk.png' corner='40,8,8,8'" hole="false">
	<List header="hidden" inset="8,8,8,8" itemhotimage="file='menu_hot_bk.png' corner='2,2,2,2'" itemdisabledbkcolor="#FF0000FF">
		<ListContainerElement name="menu_Pass" height="22" inset="40,0,0,0">
			<Label text="通过" mouse="false"/>
		</ListContainerElement>
		<ListContainerElement name="menu_Refuse" height="22" inset="40,0,0,0">
			<Label text="拒绝" mouse="false"/>
		</ListContainerElement>
	</List>
</VerticalLayout>
</Window>